@import url('https://fonts.googleapis.com/css?family=Arimo|Lato');

body {
    background-color: #f7f7f7;
    margin-top: 8em;
    font-family: Lato;
}

main {
  margin: auto;
}

a[href^="toright"]{
    text-decoration: none;
    padding: 0em;
}

a {
    text-decoration: none;
    padding: 0em;
    color: #f7f7f7;
}


.active {
    background-color: #c6a530;
    color: white;
}

.centertext {
    text-align: center;
    align-content: center;
}

/* nav a:visited {
    color: black;
} */

.toright{
    /*this reusable class is used to align an element to the right*/
    margin-right: 1em;
    float: right;
}

/* a:hover {
    color: darkgrey;
} */

a[href^="tel:"] {
  color: #c6a530;
  text-decoration: none;
}

a[href^="mailto:"] {
  color: #c6a530;
  text-decoration: none;
  /* text-decoration: underline; */

}


#tidtabel {
  border: 1px solid #c6a530;
  padding: 2em;
}


nav {
    float: right;
    margin-top: 1em;
    /* padding-top: 20em; */
    /* padding-right: 1em; */

}

/* .headerlogo {
    vertical-align: left;
    padding-left: 1em;
    height: 3em;
    width: auto;
} */

.headerlogo {
    /* float: left; */
    vertical-align: left;
    height: 4em;
    width: auto;
    padding-left: 0em;
}

.goldborder {
    max-width: 100vw;
    padding: 2em;
    border: 1px solid #c6a530;
}

.topnav {
    background-color: #f7f7f775;
    position: fixed;
    width: 100%;
    top: 0;
    /* left: 0; */
}

.topnav ul {
    list-style: none;
    padding: 0em;
    margin: 0em;
    left: 0em;
}

.topnav ul li {
    display: inline;
    /* text-align: center; */
}

.topnav ul li a {

    color:black;
    padding: 0.5em;
    text-decoration: none;
    display: none;
}

.topnav.dropped ul li a:hover {
    background-color: #c6a530;
    color: black;
}

/* .topnav ul li:first-child  a:hover {
    background-color: #ffffff00;
}

.topnav ul li:first-child  a {
    display: inline-block;
    padding: 0;
} */

#menu-icon {
    margin-top: 1em;
    margin-right: 1em;
    float: right;
    display: block;
}

.topnav.dropped ul li a {

    display: block;
}

.topnav.dropped #menu-icon {
    position: absolute;
    right: 0em;
    top: 0em;
    background-color: #ffffff00;
}



.material-icons {
    font-size: 4em;
}

h1 {
  text-align: center;
  color: #c6a530;
  border: 1px solid #c6a530;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.img-fluid1 {
  display: block;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

/* only for kontakta.html */
.img-fluid2 {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.img-fluid3 {
    /* max-width: 50%;
    height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
/* .img-fluid3 {
  max-width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  margin: 0em;
} */

/*------------FORM FIELD------------------- */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* background-color: #c6a530; */
}




/*---------------- Grids ----------*/

.grid-master {
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "footer"
}

.grid-image-container1 {
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  float: center;
}

.grid-image-container2 {  /*For projekt.html*/
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  float: center;

}

.grid-item {
  margin-left: auto;
  margin-right: auto;
  float: center;

}

.grid-item2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* float: center; */
  color:grey;
}








/* Footer */


footer {
  grid-area: footer;
}

footer ul{

  margin: 0;
  padding: 0;
  list-style: none;
  padding-inline-start: 0em;
  text-align: center;
  background-color: #c6a530;
  color: white;
  }


}


.footgrid {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  /* grid-template-areas:
    "footer footer footer footer"  */
}

.footgrid-item {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 70%;
}

.footgrid-item ul li a:visited {
  color: black;
}

.footborder {
  background-color: #a1a1a1;
  border: 1px solid #c6a530;

}

.footborder2 {
  background-color: #cecece;
  border: 1px solid #c6a530;

}

 /*-----------------  MEDIA   ----------------------*/
@media screen and (min-width: 600px) {

  #menu-icon {
    display: none;
  }


  .grid-master {
    display: grid;
    /* align-content: center;
    align-items: center;
    object-position: center; */
  }

  /*.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-content: center;
} */

  .grid-image-container1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-image-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
  }


  .footgrid-item {
      padding-top: 10%;
      padding-bottom: 10%;
      text-align: center;
      font-size: 70%;
  }

  .grid-item {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(0, 238, 255);
    margin: 1em;
  }



  .img-fluid1 {
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
  }


  .img-fluid3 {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: auto;
    display: grid;
  }


  /* .nav ul {
    padding-top: 2em;
    /* padding-right: 2em;
} */

.headerlogo {
    margin: auto;
    margin-left: 2em;
    float: left;
    height: 6em;
    width: auto;
}

  .topnav ul li a {
    padding-right: 0.5em;
    display: inline-block;
    text-align: center;
  }

  .active {
    background-color: #c6a530;
    color: black;
  }

  .topnav ul li a:hover {
    background-color: #c6a530;
    color: black;
  }


}
